body{
    margin: 0px;
}

.logo, button, main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    background-color: #067A7A;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 20px;
    border-style: none;
    border-radius: 14px; 
    padding: 10px;
    margin: 10px;
    width: 213px;
    height: 56px; 
    margin: 20px;
}

#chats, #wall{
    margin: 0 auto;
}

.text{
    font-family: 'Open Sans';
    font-size: 16px;
    width: 218px;
}

.small{
    font-family: 'Open Sans';
    font-size: 14px;
    margin: 3px;
}


.chats{
    background-color: #F1E8DC;
}

/* Add .circle class to .box to show circle indicator */
:root {
    /* Size of the circle */
    --circle-size: 20px;
}
.box.circle::after{
    content: '';
    position: absolute;
    right: 1em;
    top:1em;
    width: var(--circle-size);
    height: var(--circle-size);
    background-color: #067A7A;
    border-radius: 50%;
}

/* leave space for the circle */
.box.circle .row {
    margin-right: var(--circle-size);
}


h3{
    color: #067A7A;
    font-family: 'Montserrat';
    font-size: 18px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h2{
    font-family: 'Montserrat';
    color: #675B4A;
    font-size: 24px;
    text-align: center; 
}

.post{
     color: #067A7A;
}


.box{
    background-color: white;
    border: solid 1px #675B4A;
    padding: 1em;
    margin-bottom: 20px;
    position: relative;
    border-radius: 14px;
}

.someone{
    color: #675B4A;
    font-size: 20px;
}

.rounded{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}


.row {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content:flex-start;
}

.row h3, .row h4, .row h5 {
    margin: 0;
}


/* Hamburger Menu Navigation */
.hamburger{
    background-color: white;
}

.closed{
    display: none;
}

nav {
    display: flex;
    flex-direction: column; 
    background-color: #067A7A;
    gap: 10px;
    align-items: left;
    justify-content: flex-start;
    position:fixed;
    top: 54px;
}

.open{
    padding: 4px;
    margin: 0px;
}

nav a{
    color: white; 
    font-family: 'Montserrat';
    font-size: 22px;
    /* Semi-bold font */
    font-weight: 700; 
    text-decoration: none; 
    margin-left: 10px;
    padding: 6px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
}

hr {
    border: 1px solid white;
    width: 30vw;
}


@media(min-width: 370px) {
    .fixed-width {
        width: 370px;
        margin: 0 auto;
    }

    .full-width {
        width: 100vw;
        position: relative;
    }
}

@media(max-width: 430px){
    hr {
        border: 1px solid white;
        width: 60vw;
    }
}