body{
    margin: 0px;
}

.logo, .buttons , .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    font-family: 'Montserrat';
    color: #675B4A;
    font-size: 20px;
}

button{
    background-color: #419B7B;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 20px;
    border-style: none;
    border-radius: 10px; 
    padding: 10px;
    margin: 10px;
    width: 213px;
    height: 56px; 
    margin: 20px;
}

.login{
    font-family: 'Open Sans';
    font-size: 20px;
    margin: 4px;
    text-align: left;
}

.main{
    margin-top: 0px;
}

input{
    height: 30px;
    width: 200px;
    border: solid #675B4A 2px;
    font-family: 'Open Sans';
    font-size: 16px;
}

form{
    margin: 20px;
}

.password{
    font-family: 'Open Sans';
    font-size: 24px;
}