body{
    margin-top: 0px; 

}

h1{
    font-familY: 'Montserrat';
    font-size: 28px;
    font-weight: bold;
    color: #675B4A;
    text-align: center;
}

p{
    font-family: 'Open Sans';
    font-size: 16px;
    width: 30%;
}

 .center, main, .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.enter{
    font-family: 'Montserrat';
    font-weight: normal; 
    font-size: 18px;
    color: #000000;
    margin: 4px;
    text-align: left;
    width: 70%;
}

input{
    height: 30px;
    width: 200px;
    border: solid #067A7A 2px;
    font-family: 'Open Sans';
}

select{
    height: 32px;
    width: 210px;
    border: solid #067A7A 2px;
    font-family: 'Open Sans';
}

.add{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #A2917B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plus{
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
    text-align: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-bottom: 20px;
}

.space{
    margin-bottom: 20px;
}

button{
    background-color: #067A7A;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 32px;
    border-style: none;
    border-radius: 10px; 
    padding: 10px;
    width: 213px;
    height: 56px; 
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

@media(min-width: 370px) {
    .fixed-width {
        width: 370px;
        margin: 0 auto;
    }

    .full-width {
        width: 100vw;
        position: relative;
    }
}