<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/profile.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Search Results</title>
</head>
<body>
    <header class="fixed-width">
        <img src="../img/back-arrow.png" width="40" height="40" id="back">

    </header>

    <h1 class="center">Profile</h1>


    <main> 

        <section class="profile">
            <div class="col1">
                <img src="../img/profile.svg" height="106" width="106">
               
            </div>

            <div class="col2">
               <h1 class="name">Charlotte Weber</h1>
               <p class="pronouns">she/her/hers</p>
            </div>

        </section>

        <button class="image center">Message</button>
        <br>
        
        <section class="beige center">
            <div class="academic">
                <div class="head">
                    <h3>Academics and Background</h3>
                    
                </div>

            <p><strong>Class Year: </strong>Senior</p>
            <p><strong>Major: </strong>Computer Science and Engineering </p>
            <p><strong>Concentration: </strong>Software Engineering </p>
            <p><strong>Minor: </strong>Digital Marketing and Analytics </p>
            <p><strong>Hometown: </strong> United States, Manhattan, NY</p>
            <p><strong>Race: </strong>White</p>
            </div>

            <div class="social">
                <div class="head">
                    <h3>Clubs, Sports, and Interests</h3>
                   
                </div>

                <div class="activities">
                    <div class="side1">
                        <p>Marketing Society</p>
                        <p>Travelling</p>
                    </div>
                    <div class="side2">
                        <p>Horseback Riding Club</p>
                        <p>Baking</p>
                    </div>
                    
                </div>

            </div>
        </section>
     
        <section class="recognize"> 

            <h1 class="center wall">Recognition Wall</h1>

            <div class="center">
                <div class="box">
                    <div class="row">
                        <img src="../img/profile.svg" class="rounded border">
                        <h3 class="someone">Neil Nutt</h3>
                    </div>
                    <p class="small">Thanks Harper for helping me with my CSE 1010 homework. You made it so easy to understand. </p>
                    
                </div>
    
                <div class="box">
                    <div class="row">
                        <img src="../img/profile.svg" class="rounded border">
                        <h3 class="someone">Abby Anderson</h3>
                    </div>
                    <p class="small">Harper, it was great meeting you at the Women in Engineering Club. You are so smart. </p>
                    
                </div>
    
                <div class="box">
                    <div class="row">
                        <img src="../img/profile.svg" class="rounded border">
                        <h3 class="someone">Emily Smith</h3>
                    </div>
                    <p class="small">Thanks for driving me to and from the XL Center for the basketball game.  I’m glad I met someone who likes women’s basketball as much as I do. </p>
            
                </div>
            </div>
        </section>

    </main>

    
    
    <script src="../js/friend.js"></script>
</body>
</html>