<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/group.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Group Chat</title>
</head>
<body>
    <header class="fixed-width">
        <img src="../img/back-arrow.png" width="40" height="40" id="back">
        <h1>ACCT 2001</h1>
        <img src="../img/group.svg" class="rounded" width="40" height="40" id="group">
    </header>


  <main> 

    <section>
    <div class="from-me">
      <p>Hi do you want to be in a study group for this class?</p>
    </div>
  <div class="clear"></div>
   <section class="fixed-width">
        <p class="person">Bob Jones</p>
        <div class="wide">

          <div class="column">
            <div class="add"> 
                 <img src="https://www.ccny.cuny.edu/sites/default/files/styles/600px_wide/public/2023-06/jacek_headshot_2023_square.jpg?itok=OLmRbRAF" height='auto' width='24'>
            </div>
    </div>
          <div class="from-them">
      <p>Yeah, I'd be interested! </p>
    </div>
        </div>        
     </section>
    
  <div class="clear"></div>

  <section class="fixed-width">
        <p class="person">Charlotte Weber</p>
        <div class="wide">

          <div class="column">
            <div class="add"> 
                <img src="https://www.college.columbia.edu/alumni/sites/default/files/Julie%20Menin%20headshot%20SQUARE.jpg" height='auto' width='24'>
            </div>
    </div>
          <div class="from-them">
      <p>I've been needing someone to study with for this class because it's so hard. I can also do Tuesday and Thursday. Where do we meet? </p>
    </div>
        </div>        
     </section>

       <section class="fixed-width">
        <p class="person">Jiao Chen</p>
        <div class="wide">

          <div class="column">
            <div class="add"> 
               <img src="https://images.squarespace-cdn.com/content/v1/5ec689480cc22c2d441e152f/1630507185344-TMMJS2VXPXAY55BSL6IV/nlalor-photography-2021-07-04-Quynh-Goodhouse-Headshots-web-sized-square-1.jpg" height="auto" width="24">
            </div>
    </div>
          <div class="from-them">
      <p>We can rent out a study room in the library or just use an empty classroom in Oak Hall or Monteith.</p>
    </div>
        </div>        
     </section>

    <div class="from-me">
      <p>Cool, I'll look to see where we can have the study group. It'll most likely be in the library Tuesday and Thursday at 7 PM. See you then!</p>
    </div>

<div class="clear"></div>

      <section class="fixed-width">
        <p class="person">Aiden Katz</p>
        <div class="wide">

          <div class="column">
            <div class="add"> 
                <img src="https://kpstudios.com/wp-content/uploads/2023/10/Alex-Schimmer2.jpg" height="auto" width="24">
            </div>
    </div>
          <div class="from-them">
      <p>See you then!</p>
    </div>
        </div>        
     </section>

  </section>


  </main>

  <aside class="center sticky">

    <div id="type">
         
      <input class="small" type="text" placeholder="Type here."> </input>
  
  </div>
  </aside>
 

    
    
    <script src="../js/group.js"></script>
</body>
</html>