<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/group.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Group Chat</title>
</head>
<body>
    <header class="fixed-width">
        <img src="../img/back-arrow.png" width="40" height="40" id="back">
        <h1>Bergen County</h1>
        <img src="../img/group.svg" class="rounded" width="40" height="40" id="group">
    </header>


  <main> 

    <section>
      <div class="flex">
        <section class="group">
            <div class="talk-bubble1 tri-right btm-right round">
                <div class="talktext">
                  <p>Hey you all live in Bergen County, NJ right? Can anyone give me a ride home for spring break?</p>
                </div>
              </div>
        </section>

    </div>
   
  

      <section class="fixed-width">
        <p class="person">Braedon Smith</p>
        <div class="wide">

          <div class="column">
            <div class="add"> 
                <p class="plus">BS</p>
            </div>
    </div>
          <div class="talk-bubble2 tri-right btm-left round">
            <div class="talktext">
              <p class="black">No sorry I’m going on vacation that week to Florida. </p>
            </div>
          </div> 
        </div>        
     </section>

     <section class="fixed-width">
      <p class="person">Anna Snow</p>

      <div class="wide">

        <div class="column">
          <div class="add"> 
              <p class="plus">AS</p>
          </div>
  </div>

        <div class="talk-bubble2 tri-right btm-left round">
          <div class="talktext">
            <p class="black">Same here, sorry. I wish I could help!</p>
          </div>
        </div> 
      </div>        
   </section>

   <section class="fixed-width">
    <p class="person">Hailey Katz</p>

    <div class="wide">

      <div class="column">
        <div class="add"> 
            <p class="plus">HK</p>
        </div>
</div>

      <div class="talk-bubble2 tri-right btm-left round">
        <div class="talktext">
          <p class="black">I could drive you back! When are you planning on leaving? And where do you want to meet?</p>
        </div>
      </div> 
    </div>        
 </section>

 <div class="flex">
  <section class="group">
      <div class="talk-bubble tri-right btm-right round">
          <div class="talktext">
            <p>Thanks Hailey. I’ll private message you the details.</p>
          </div>
        </div>
  </section>

</div>


    </section>
  </main>

  <section class="center sticky">

    <div id="type">
         
      <input class="small" type="text" placeholder="Type here."> </input>
  
  </div>
  </section>
 

    
    
    <script src="../js/group.js"></script>
</body>
</html>