<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/results.css">
    <title>Results People</title>
</head>
<body>

    <main> 
        <header class="fixed-width">
            <img src="../img/back-arrow.png" width="40" height="40" id="back">

        </header>
       
        <h1>Search People</h1>

        <section class="filters"> 
            <div class="center fixed-width">
                <p> Search results for </p>
                <section>
                    <div class="chick"><p class="let">Women's Club Lacrosse </p></div>
                    
                </section>

            </div>
        </section>

        <section class="results">
            <div class="col">
                <div class="image">
                    <img src="https://movingandstillimages.com/wp-content/uploads/2021/06/Headshot-Photographer-11.jpg" height="auto" width="173">
                </div>
                <h2> Hannah Banana </h2>
                <p class="terms">Women's Club Lacrosse</p>
            </div>
            <div class="col">
                <div class="image">
                    <img src="https://images.squarespace-cdn.com/content/v1/5b587f0c3c3a531cac8b6cd8/1585011647214-YCD15M51VAQHBEVMXMUS/00001-linda-heffernan-don-monteaux-photography-800x800.jpg" height='auto' width='173'>
                </div>
                <h2> Emily McMahon </h2>
                <p class="terms">Women's Club Lacrosse</p>
            </div>

        </section>

        <section class="results">
            <div class="col">
                <div class="image">
                    <img src="https://www.uaspire.org/getattachment/e6358abd-33b5-49ec-af1e-9f7bee332003/Madison-Hensley(sized)-(1).jpg" height="auto" width="173">
                </div>
                <h2> Jane Doe </h2>
                <p class="terms">Women's Club Lacrosse</p>
            </div>
            <div class="col">
                <div class="image">
                    <img src="https://www.specialphoto.com/sy-photos/page-photos/20200512024609-McGuire_Cosette_001_RT.jpg" height="auto" width="173">
                </div>
                <h2> Aaliyah Brooks </h2>
                <p class="terms">Women's Club Lacrosse</p>
            </div>

        </section>

       

        <button>Create Group Chat</button>
    </main>
    <script src="../js/results.js"></script>
</body>