<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mycourses.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>My Courses</title>
</head>
<body>
    <header class="fixed-width">

        <div class="column">
            <div class="menu"> 
                <a class="hamburger"> <img src="../img/hamburger.svg" 
                    width="50" height="50"> </a>
            </div>
           
          <nav class="closed open"> 
                
                <a href="/home"> Home </a>  
                <hr>          
                <a href="/searchpeople"> Search People </a>
                <hr>
                <a href="/searchcourses"> Search Courses </a>
                <hr>
                <a href="/mycourses"> My Courses </a>
                <hr>
                <a href="/chats"> Chats </a>
                <hr>
                <a href="/recognize"> Recognize Someone </a>
                
            </nav>


        </div>
       

        <img id="profile" src="../img/profile.svg" height="50" width="50">


    </header>

    <main>
        <h1>My Courses</h1>

        <div class="flex">
            <h2>Semester: Spring 2023</h2>
            <button class="previous">Previous Semester</button>
        </div>

         <section class="results">
            <div class="col">
                <div class="image">
                     <h3> DMD 3470 </h3>
                    <h2>Web Design 2</h2>
                    <strong> <span class="terms"> Instructor: </span> </strong>
                    <span class="prof">Brian Daley </span>

                     <div class="flex"> 
                          <h3>Rating: </h3>
                         <button id="rating">Incomplete</button>
                    </div>
                </div>
                          
            </div>

             <div class="image">
                     <h3> DMD 3475 </h3>
                    <h2>Coding for the Web</h2>
                    <strong> <span class="terms"> Instructor: </span> </strong>
                    <span class="prof">Brian Daley </span>

                     <div class="flex"> 
                          <h3>Rating: </h3>
                         <button id="rating">Incomplete</button>
                    </div>
                </div>

        </section>


        <section class="results">
            <div class="col">
                <div class="image">
                     <h3> DMD 3035 </h3>
                    <h2>Interaction Design</h2>
                    <strong> <span class="terms"> Instructor: </span> </strong>
                    <span class="prof">Ting Zhou </span>

                    <div class="flex"> 
                          <h3>Rating: </h3>
                         <h3 class="complete"> Complete </h3>
                    </div>
                </div>
                          
            </div>

             <div class="image">
                     <h3> HRTS 3254 </h3>
                    <h2>Business Solutions to Societal Challenges</h2>
                    <strong> <span class="terms"> Instructor: </span> </strong>
                    <span class="prof">Rachel Chambers </span>

                     <div class="flex"> 
                          <h3>Rating: </h3>
                         <h3 class="complete"> Complete </h3>
                    </div>
                </div>

        </section>

        <h2 class="gradient"> Future Courses </h2>

          <section class="results">
            <div class="col">
                <div class="image">
                     <h3> CHEM 1127Q </h3>
                    <h2>General Chemistry 1</h2>
                    <strong> <span class="terms"> Instructor: </span> </strong>
                    <span class="prof">Clyde Cady </span>

                     <div class="flex"> 
                          <h3>Rating: </h3>
                         <button class="rate">3.5</button>
                    </div>
                </div>
                          
            </div>

             <div class="image">
                     <h3> BIOL 1107 </h3>
                    <h2>Principles of Biology 1</h2>
                    <strong> <span class="terms"> Instructor: </span> </strong>
                    <span class="prof">Thomas Abbott </span>

                     <div class="flex"> 
                          <h3>Rating: </h3>
                        <button class="rate">4.2</button>
                    </div>
                </div>

        </section>

        <br><br>

    </main>

    <script src="../js/mycourses.js"></script>

    </body>
</html>