<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/onboarding2.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Enter Classes</title>
</head>
<body>

    <header class="fixed-width">
        <img src="../img/back-arrow.png" width="40" height="40" id="back">

    </header>
    
        <div class="center">
            <p class="class">Enter your classes for this current semester. Each class rating earns you 3 “Course’” searches.  Entering 4 reviews or more unlocks unlimited searches for this semester. You can always rate courses later.</p>
        
        </div>
        
       

    <main>

        <div class="flex"> 
            <div class="space">
                <p class="enter"> Semester </p>
                <select name="semester" class="dropdown" id="semester"> 
                    <option value="blank"> </option>
                    <option value="sem">Fall</option>
                    <option value="sem">Spring</option>
                </select>
            </div>
    
            <div class="space">
                <p class="enter"> Year </p>
                <select name="year" class="dropdown" id="year"> 
                    <option value="blank"> </option>
                    <option value="year">2023</option>
                    <option value="year">2024</option>
                </select>
            </div>
        </div>
       
        <div class="flex2">

            <div class="space">
                    <p class="enter"> Course Number</p>
                    <select name="number" class="dropdown" id="number"> 
                        <option value="blank"> </option>
                        
                         {% for courses in numbers %}

                            <option> <span>{{courses.subject}} </span><span>{{courses.course_number}}</span> </option>
                       
                     {% endfor %}
                    </select>
                </div>
            <div class="space">
                <p class="enter"> Instructor </p>
                <select name="year" class="prof" id="year"> 

                     {% for courses in col %}

                            <option>{{courses.instructor}} </option>
                       
                     {% endfor %}
                </select>
            </div>

        </div>

        <div class="uconn">
            <div class="empty"></div> 
             <button id="rate"> Rate </button>
        </div>
        
        
        <div class="flex2">

            <div class="space">
                    <p class="enter"> Course Number</p>
                    <select name="number" class="dropdown" id="number"> 
                        <option value="blank"> </option>
                        
                         {% for courses in numbers %}

                            <option> <span>{{courses.subject}} </span><span>{{courses.course_number}}</span> </option>
                       
                     {% endfor %}
                    </select>
                </div>
            <div class="space">
                <p class="enter"> Instructor </p>
                <select name="year" class="prof" id="year"> 

                     {% for courses in col %}

                            <option>{{courses.instructor}} </option>
                       
                     {% endfor %}
                </select>
            </div>

        </div>

         <div class="uconn">
            <div class="empty"></div> 
             <button id="rate"> Rate </button>
        </div>
        

        <div class="flex2">

            <div class="space">
                    <p class="enter"> Course Number</p>
                    <select name="number" class="dropdown" id="number"> 
                        <option value="blank"> </option>
                        
                         {% for courses in numbers %}

                            <option> <span>{{courses.subject}} </span><span>{{courses.course_number}}</span> </option>
                       
                     {% endfor %}
                    </select>
                </div>
            <div class="space">
                <p class="enter"> Instructor </p>
                <select name="year" class="prof" id="year"> 

                     {% for courses in col %}

                            <option>{{courses.instructor}} </option>
                       
                     {% endfor %}
                </select>
            </div>

        </div>

          <div class="uconn">
            <div class="empty"></div> 
             <button id="rate"> Rate </button>
        </div>
        


        <div class="flex2">

            <div class="space">
                    <p class="enter"> Course Number</p>
                    <select name="number" class="dropdown" id="number"> 
                        <option value="blank"> </option>
                        
                         {% for courses in numbers %}

                            <option> <span>{{courses.subject}} </span><span>{{courses.course_number}}</span> </option>
                       
                     {% endfor %}
                    </select>
                </div>
            <div class="space">
                <p class="enter"> Instructor </p>
                <select name="year" class="prof" id="year"> 

                     {% for courses in col %}

                            <option>{{courses.instructor}} </option>
                       
                     {% endfor %}
                </select>
            </div>

        </div>

         <div class="uconn">
            <div class="empty"></div> 
             <button id="rate"> Rate </button>
        </div>
        

        <div class="flex2">

            <div class="space">
                    <p class="enter"> Course Number</p>
                    <select name="number" class="dropdown" id="number"> 
                        <option value="blank"> </option>
                        
                         {% for courses in numbers %}

                            <option> <span>{{courses.subject}} </span><span>{{courses.course_number}}</span> </option>
                       
                     {% endfor %}
                    </select>
                </div>
            <div class="space">
                <p class="enter"> Instructor </p>
                <select name="year" class="prof" id="year"> 

                     {% for courses in col %}

                            <option>{{courses.instructor}} </option>
                       
                     {% endfor %}
                </select>
            </div>

        </div>

         <div class="uconn">
            <div class="empty"></div> 
             <button id="rate"> Rate </button>
        </div>
        
        

        

        <div class="extra">

        </div>

        <div class="buttons">
            <button id="minus">
                <div class="add"> 
                    <p class="plus">-</p>
                </div>
            </button>

            <button id="add">
                <div class="add"> 
                    <p class="plus">+</p>
                </div>
            </button>
          
        </div>

        <button id="done"> Done </button>


    </main>




    <script src="../js/onboarding2.js"></script>
</body>
</html>