<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/participants.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Participants</title>
</head>
<body>
    <header class="fixed-width">
        <img src="../img/close.svg" width="30" height="30" id="back">

    </header>


    <div class="center">
        <h1>Bergen County </h1>
        <h2>Participants</h2>
    </div>

    <main> 

        <section> 
            <img src="../img/profile.svg" height="50" width="50">
            <h3>Braedon Smith</h3>
            <button>Message</button>
        </section>

        <hr>    
        
        <section> 
            <img src="../img/profile.svg" height="50" width="50">
            <h3>Anna Snow</h3>
            <button>Message</button>
        </section>

        <hr>

        <section> 
            <img src="../img/profile.svg" height="50" width="50">
            <h3>Hailey Katz</h3>
            <button>Message</button>
        </section>

        <hr>

        <!-- Name of person who is logged in-->
        <section> 
            <img src="../img/profile.svg" height="50" width="50">
            <h3>Harper Davis</h3>
            <button>Message</button>
        </section>

        <hr>


    </main>

    
    
    <script src="../js/participants.js"></script>
</body>
</html>