<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/rating.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Rating</title>
</head>
<body>
    <header class="fixed-width">
        <img src="../img/back-arrow.png" width="40" height="40" id="back">

    </header>


    <div class="center">
        <h1>Course and Professor Review </h1>
        <h2>{{class}}</h2>
    </div>

    <main> 
        <section class="rmp">
            <div class="col2">
                <div class="flex">
                    <h1 class="prof">{{professor}}</h1>
                    <div class="box">
                        <img src="https://chemistry.media.uconn.edu/wp-content/uploads/sites/3308/2021/07/kienzler.jpg" height="54" width="54">
                    </div>
                </div>
                <p class="based">Based on 60 ratings</p>

            </div>
           

            <div class="flex2">
                <div id="minus" class="column">
                    <div class="add"> 
                        <p class="minus">{{course_rating}}</p>
                    </div>
                    <div> 
                        <p class="score">Course Rating</p>
                    </div>
                </div>
    
                <div id="add" class="column">
                    <div class="add"> 
                        <p class="plus">{{prof_rating}}</p>
                    </div>
                    <p class="score">Instructor Rating</p>
                </div>
            </div>
           
        </section>

        <section class="beige full-width"> 

            <h1 class="fixed-width comments">Comments</h1>

            <div class="center fixed-width">
                <div class="box1">
                    <div class="row">
                        <h3 class="someone">Grade Received: N/A</h3>
                    </div>
                    <p class="small">Professor stood directly in front of what he was writing on the board and wrote fast, be prepared to still be taking down notes on what he wrote 5 minutes ago while he switches topics. Exams not like the homework. Failed the course and retook it with Anwar Beshir in the summer and got an A.</p>
                    <div class="bubble expand">
                        <img src="../img/upvote.svg" height="30" width="30">
                        <h2>5</h2>
                        <img src="../img/line.svg" height="20" width="5">
                        <img src="..//img/downvote.svg" height="30" width="30">
                    </div>
                </div>
            </div>

            <div class="center fixed-width">
                <div class="box1">
                    <div class="row">
                        <h3 class="someone">Grade Received: A</h3>
                    </div>
                    <p class="small">I agree with past comments, especially about tests & quizzes. This class can be super frustrating, but for me the challenge got me to understand the material better. Take this class if you're able to support the challenge, but if you just need the credit, there are easier options. The subject is hard, but also doable. 350 character limit sucks.</p>
                    <div class="bubble expand">
                        <img src="../img/upvote.svg" height="30" width="30">
                        <h2>7</h2>
                        <img src="../img/line.svg" height="20" width="5">
                        <img src="..//img/downvote.svg" height="30" width="30">
                    </div>
                </div>
                </div>
            </div>


            <div class="center fixed-width">
                <div class="box1">
                    <div class="row">
                        <h3 class="someone">Grade Received: N/A</h3>
                    </div>
                    <p class="small">The exams are the complete opposite of the homework and practice problems. It was kind of blindsiding when I took this class in the spring with him. I'm now taking this class in the summer because I had to withdraw. And it's easier to understand with another professor that can write clearly and takes their time to answer everyones questions.  </p>
                    <div class="bubble expand">
                        <img src="../img/upvote.svg" height="30" width="30">
                        <h2>10</h2>
                        <img src="../img/line.svg" height="20" width="5">
                        <img src="..//img/downvote.svg" height="30" width="30">
                    </div>
                </div>
                </div>
            </div>

            

        </section>

        <section class="white flexy">
            <button>See Syllabus</button>
            <button id="full">View Full Ratings</button>
        </section>

    </main>

    
    
    <script src="../js/rating.js"></script>
</body>
</html>