<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/people.css">
    <title>Search People</title>
</head>
<body>
    <header class="fixed-width">

        <div class="column">
            <div class="menu"> 
                <a class="hamburger"> <img src="../img/hamburger.svg" 
                    width="50" height="50"> </a>
            </div>
           
           <nav class="closed open"> 
                
                <a href="/home"> Home </a>  
                <hr>          
                <a href="/searchpeople"> Search People </a>
                <hr>
                <a href="/searchcourses"> Search Courses </a>
                <hr>
                <a href="/mycourses"> My Courses </a>
                <hr>
                <a href="/chats"> Chats </a>
                <hr>
                <a href="/recognize"> Recognize Someone </a>
                
            </nav>


        </div>
       

        <img id="profile" src="../img/profile.svg" height="50" width="50">


    </header>


    <main> 
        <h1>Search People</h1>
        
            <input id="name" type="text" placeholder="Type person's name">
            
            <h2> Academics </h2>
           
            <div class="space">
                <p class="enter"> Class Year </p>
                <select name="year" id="year"> 
                    <option value="blank"> </option>
                    <option value="freshman">Freshman</option>
                    <option value="sophomore">Sophomore</option>
                    <option value="junior">Junior</option>
                    <option value="senior">Senior</option>
                </select>
            </div>
    
                <div class="space">
                <p class="enter"> Major</p>

                <select name="major" id="major">

                    <option value="blank"> </option>
                    <option value="blank">Undecided</option>

                     {% for majors in rows %}

                            <option>{{majors.name}} </option>
                       
                     {% endfor %}

                </select>
            </div>

                <div class="space">
                    <p class="enter"> Course Number</p>
                    <select name="number" id="number"> 
                        <option value="blank"> </option>
                        
                         {% for courses in numbers %}

                            <option value='{{courses.subject}}'> <span>{{courses.subject}} </span><span>{{courses.course_number}}</span> </option>
                       
                     {% endfor %}
                    </select>
                </div>

                 <div class="space">
                    <p class="enter"> Semester Taken </p>
                    <select name="year" id="year"> 
                        <option value="blank"> </option>
                        <option value="freshman">Fall</option>
                        <option value="sophomore">Spring</option>
                    </select>
                </div>

                <div class="space">
                    <p class="enter"> Year Taken </p>
                    <select name="year" id="year"> 
                        <option value="blank"> </option>
                        <option value="freshman">2023</option>
                        <option value="sophomore">2024</option>
                    </select>
                </div>

                <button id="search1">Search</button>
       
            <h2> Background </h2>

            <div class="space">
                <p class="enter"> Gender </p>
                <select name="gender" id="gender"> 
                    <option value="blank"> </option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="trans">Transgender</option>
                    <option value="non">Nonbinary</option>
                </select>
            </div>

            <div class="space">
                <p class="enter"> Home Country </p>
                <select name="country" id="country"> 
                      <option value="blank"> </option>
                        
                    {% for countries in origin %}

                        <option>{{countries.name}} </option>
                       
                     {% endfor %}
                </select>
            </div>

            <div class="space">
                <p class="enter"> Home State </p>
                <select name="country" id="country"> 
                   
                     <option value="blank"> </option>
                        
                    {% for states in us %}

                        <option>{{states.abbr}} </option>
                       
                     {% endfor %}
                </select>
            </div>

            <div class="space">
                <p class="enter"> UConn Dorm </p>
                <select name="country" id="country"> 
                    <option value="blank"> </option>
                     {% for dorms in room %}

                        <option>{{dorms.name}} </option>
                       
                     {% endfor %}
                </select>
            </div>

            <div class="space">
                <p class="enter"> County </p>
                <input type="text" class="green">
            </div>
    
            <div class="space">
                <p class="enter"> City </p>
                <input type="text" class="green">
            </div>

            <button id="search2">Search</button>


            <h2> Social </h2>

            <div class="space">
                <p class="enter"> Clubs </p>
                <select name="major" id="major"> 
                    <option value="blank"> </option>
                    {% for clubs in moon %}

                        <option>{{clubs.name}}</option>
                       
                     {% endfor %}
                </select>
            </div>

            <div class="space">
                <p class="enter"> Sports </p>
                <select name="number" id="number"> 
                    <option value="blank"> </option>
                     {% for sports in madness %}

                        <option>{{sports.name}} </option>
                       
                     {% endfor %}
                </select>
            </div>

            <div class="space">
                <p class="enter"> Fraternities </p>
                <select name="number" id="number"> 
                    <option value="blank"> </option>
                     {% for frats in greek %}

                        <option>{{frats.name}} </option>
                       
                     {% endfor %}
                </select>
            </div>

            <button id="search3">Search</button>
<br><br>
    </main>

    <script src="../js/people.js"></script>
</body>
</html>