<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/courses.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Search Courses</title>
</head>
<body>

    <header class="fixed-width">

        <div class="column">
            <div class="menu"> 
                <a class="hamburger"> <img src="../img/hamburger.svg" 
                    width="50" height="50"> </a>
            </div>
           
            <nav class="closed open"> 
                
                <a href="/home"> Home </a>  
                <hr>          
                <a href="searchpeople.html"> Search People </a>
                <hr>
                <a href="/searchcourses"> Search Courses </a>
                <hr>
                <a href="mycourses.html"> My Courses </a>
                <hr>
                <a href="chats.html"> Chats </a>
                <hr>
                <a href="recognize.html"> Recognize Someone </a>
                
            </nav>

        </div>
       

        <img id="profile" src="../img/profile.svg" height="50" width="50">


    </header>

    <main>
        <h1>Search Courses</h1>

        <h2> Search by Course </h2>

        <input type="text" placeholder="e.g. STAT 1100Q">
       
        <div class="flex2">
            <div class="space">
                <p class="enter"> Department </p>
                <select name="semester" class="dept" id="semester"> 
                    <option value="blank"> </option>

                     {% for courses in rows %}

                            <option>{{courses.subject}} </option>
                       
                     {% endfor %}
                </select>
            </div>
        
            <div class="space">
                <p class="enter"> Course # </p>
                <select name="year" class="dropdown2" id="year"> 
                    <option value="blank"> </option>

                     {% for courses in nums %}

                            <option>{{courses.course_number}} </option>
                       
                     {% endfor %}
                </select>
            </div>
        
        </div>

 <h2> Search by Instructor </h2>

  <input type="text" placeholder="e.g. Kathleen McLaughlin">

        <div class="space">
                <p class="enter"> Instructor </p>
                <select name="year" class="prof" id="year"> 

                     {% for courses in col %}

                            <option>{{courses.instructor}} </option>
                       
                     {% endfor %}
                </select>
            </div>

           <button id="search"> Search </button>

    </main>

    <div id="results">
        
    </div>




    <script src="../js/courses.js"></script>
</body>
</html>