<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/courses.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Search Courses</title>
</head>
<body>

    <header class="fixed-width">

        <div class="column">
            <div class="menu"> 
                <a class="hamburger"> <img src="../img/hamburger.svg" 
                    width="50" height="50"> </a>
            </div>
           
          <nav class="closed open"> 
                
                <a href="/home"> Home </a>  
                <hr>          
                <a href="/searchpeople"> Search People </a>
                <hr>
                <a href="/searchcourses"> Search Courses </a>
                <hr>
                <a href="/mycourses"> My Courses </a>
                <hr>
                <a href="/chats"> Chats </a>
                <hr>
                <a href="/recognize"> Recognize Someone </a>
                
            </nav>


        </div>
       

        <img id="profile" src="../img/profile.svg" height="50" width="50">


    </header>

    <main>
        <h1>Search Courses</h1>

      
       
       <form action="/searchcourses" method="get"> 
          <h2> Search by Course </h2>

         <input type="text" placeholder="e.g. STAT 1100Q" name="q" id="q" value="{{query}}">
         <div class="space">
                    <p class="enter"> Course Number</p>
                    <select name="number" id="number"> 
                        <option value="blank"> </option>
                        
                         {% for courses in numbers %}

                            <option> <span>{{courses.subject}} </span><span>{{courses.course_number}}</span> </option>
                       
                     {% endfor %}
                    </select>
                </div>

         <button id="search" type="submit"> Search </button>

       </form>

 <h2> Search by Instructor </h2>

  <input type="text" placeholder="e.g. Kathleen McLaughlin">

        <div class="space">
                <p class="enter"> Instructor </p>
                <select name="prof" class="prof" id="year"> 

                     {% for courses in col %}

                            <option>{{courses.instructor}} </option>
                       
                     {% endfor %}
                </select>
            </div>
            <br>
             <button id="search" type="submit"> Search </button>
    </main>

{% if numbers.length > 0 %}

    <div id="results">
        <section class="results">
            {% for courses in outcome %}
                <div class="center">
                    <div class="box">
                        <div class="row">
                            <img src="../img/profile.svg" class="rounded border">
                            {% if courses.instructor == 'Howell,Amy R.' %}
                                <a href="/rating" class="professor">{{courses.instructor}}</a>
                                {% else %}
                                 <a href="/rating2" class="professor">{{courses.instructor}}</a>
                            {% endif %}
                           
                        </div>
                        <div class="row2">
                            <p class="small">{{courses.subject}} {{courses.course_number}}</p>
                            <a href="/mycourses"> <button id="add"> Add Course </button> </a>
                        </div>
                         <p class="small">{{courses.course_name}}</p>
                    </div>
                </div>

                {% endfor %}
        </section>
    </div>

     {% else %}

     <section class="white"></section>

            
{% endif %}


    <script src="../js/courses.js"></script>
</body>
</html>