<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/text.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Text Someone</title>
</head>
<body>
    <header class="fixed-width">
        <img src="../img/back-arrow.png" width="40" height="40" id="back">

    </header>


    <div class="center">
      <h1>Aaliyah Brooks</h1>
  </div>

  <main> 

    <section>
    <div class="from-me">
      <p>Hey, I'm interested in joining the UConn Club Lacrosse team! What's the schedule like?</p>
    </div>
  <div class="clear"></div>
    <div class="from-them">
      <p>Hey Harper. The lacrosse club is fun! We practice three to four days a week and we have a game every two weeks usually. Definitely less of a time committment than the real UConn lacrosse team. There's no tryouts for club soccer. We take everyone, but we still have our starters that play more than the players on the sideline. I hope that helps answer your question! </p>
    </div>
  <div class="clear"></div>
    <div class="from-me">
      <p>It does, thanks for telling me all of this. I can't wait to join next semester!</p>
    </div>
  <div class="clear"></div>
    <div class="from-them">
      <p>I'm glad I could help. See you in the fall!</p>
    </div>
  </section>


  </main>

  <aside class="center sticky">

    <div id="type">
         
      <input class="small" type="text" placeholder="Type here."> </input>
  
  </div>
  </aside>
 

    
    
    <script src="../js/text.js"></script>
</body>
</html>