<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/text.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Text Someone</title>
</head>
<body>
    <header class="fixed-width">
        <img src="../img/back-arrow.png" width="40" height="40" id="back">

    </header>


    <div class="center">
      <h1>Charlotte Weber</h1>
  </div>

  <main> 

    <section>
      <div class="flex">
        <section>
            <div class="talk-bubble tri-right btm-right round">
                <div class="talktext">
                  <p>Hey I’m a freshman CS major. Do you have any course or professor recommendations for sophomore year?</p>
                </div>
              </div>
        </section>

    </div>
   
  

      <section class="fixed-width">
        <div class="talk-bubble2 tri-right btm-left round">
            <div class="talktext">
              <p class="black">Hey Harper. Thanks for reaching out, I know course registration can be stressful. I took CSE 2050 with Jake Scoggin and he was one of the best professors I’ve ever had! CSE 2500 with Wei Wei is also good. Best of luck!</p>
            </div>
          </div>

      </section>
      
      <div class="flex">
        <section>
            <div class="talk-bubble tri-right btm-right round">
                <div class="talktext">
                  <p>Wow that’s great to hear, thanks!</p>
                </div>
              </div>
        </section>

    </div>

    <section class="fixed-width">
        <div class="talk-bubble2 tri-right btm-left round">
            <div class="talktext">
              <p class="black">You're welcome</p>
            </div>
          </div>

      </section>

    </section>

     

  </main>

  <section class="center sticky">

    <div id="type">
         
      <input class="small" type="text" placeholder="Type here."> </input>
  
  </div>
  </section>
 

    
    
    <script src="../js/text.js"></script>
</body>
</html>